<script src="/cals-scripts.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#fullpage').fullpage({
     controlArrows: false,
     navigation: false
    });
});
</script>
</body>
</html>
