<html>
<head>
  <title>Hackference Karaoke</title>
  <script src='/deezer.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" async></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.3/jquery.fullPage.min.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.3/jquery.fullPage.min.js"></script>
	<link rel="stylesheet" href="styles.css" />
</head>
<body>
<script type="text/javascript" src="//media.twiliocdn.com/sdk/rtc/js/conversations/v0.9/twilio-rtc-conversations.js"></script>

<script>
(function () {
  // check for WebRTC
  if (!navigator.webkitGetUserMedia && !navigator.mozGetUserMedia) {
    alert('WebRTC is not available in your browser.');
    throw new Error("No WebRTC available, PANIC");
  }

  window.endpoint = new Twilio.Endpoint("{{token}}");
}());
</script>

<nav class="navbar navbar-default" style='margin-bottom: 0'>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Empty Orchestra</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="host" action="/join" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Join room name..." name="name">
        </div>
        <button type="submit" class="btn btn-default">Join</button>
      </form>
      <form class="navbar-form navbar-right" role="join" action="/host" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Host room name..." name="name">
        </div>
        <button type="submit" class="btn btn-default">Host</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
