<html>
<body style='text-align: center'>
<h1>Karaoke 2.0</h1>

<div style='float: left; width: 45%'>
  <h2>Host a new room</h2>
  <form action="/host" method="GET">
    <input type="text" name="name" />
    <input type="submit" value="Host" />
  </form>
</div>

<div style='float: right; width: 45%'>
  <h2>Join a room</h2>
  <form action="/join" method="GET">
    <input type="text" name="name" />
    <input type="submit" value="Join" />
  </form>
</div>
</body>
</html>
