{{> header}}
<script>
(function () {
  window.endpoint.listen().then(
    endpointConnected,
    function (error) {
      log('Could not connect to Twilio: ' + error.message);
    }
  );

  // successfully connected!
  function endpointConnected() {
    log("Connected to Twilio. Listening for incoming Invites as '" + window.endpoint.address + "'");
  };

  // activity log
  function log(message) {
    console.log(message);
  };

  window.endpoint.on('invite', function (invite) {
    log('Incoming invite from: ' + invite.from);
    invite.accept().then(conversationStarted);
  });

  function conversationStarted(conversation) {
    log("In an active Conversation");

    // when a participant joins, draw their video on screen
    conversation.on('participantConnected', function (participant) {
      log("Participant '" + participant.address + "' connected");
      participant.media.attach('#remote-media');
    });

    // when a participant disconnects, note in log
    conversation.on('participantDisconnected', function (participant) {
      log("Participant '" + participant.address + "' disconnected");
    });

    // when the conversation ends, stop capturing local video
    conversation.on('ended', function (conversation) {
      log("Connected to Twilio. Listening for incoming invites as '" + window.endpoint.address + "'");
      conversation.localMedia.stop();
      conversation.disconnect();
    });
  }
}());
</script>

Hosting {{name}}
<div id="remote-media"></div>

<!-- Deezer auth element -->
<div id="dz-root"></div>

<!-- Awesome stuff for Karaoke -->
<div id="tracks"></div>
<div id="musicPlayer"></div>

{{> footer}}
