{{> header}}
<script>
(function () {
  var pusher = new Pusher('36a89f4dfb756402cf24', {
    encrypted: true
  });
  var channel = pusher.subscribe('lyrics-{{name}}');
  channel.bind('lyrics', function(data) {
    var current = data.current;
    var next = data.next;

    document.getElementById("currentLyric").textContent = current;
    document.getElementById("nextLyric").textContent = next;
  });

  window.endpoint.listen().then(
    endpointConnected,
    function (error) {
      log('Could not connect to Twilio: ' + error.message);
    }
  );

  // successfully connected!
  function endpointConnected() {
    log("Connected to Twilio as '" + window.endpoint.address + "'");
  };

  // activity log
  function log(message) {
    console.log(message);
  };

  function conversationStarted(conversation) {
    log("In an active Conversation");

    conversation.on('participantConnected', function (participant) {
      log("Participant '" + participant.address + "' connected");
      document.getElementById("status").innerHTML = "Connected";
    });

    // when a participant disconnects, note in log
    conversation.on('participantDisconnected', function (participant) {
      log("Participant '" + participant.address + "' disconnected");
    });

    // when the conversation ends, stop capturing local media
    conversation.on('ended', function (conversation) {
      log("Connected to Twilio. Listening for incoming invites as '" + window.endpoint.address + "'");
      conversation.localMedia.stop();
      conversation.disconnect();
    });
  }

  window.endpoint.createConversation("{{name}}", {
    localStreamConstraints: { audio: true, video: false }
  }).then(
    conversationStarted,
    function (error) {
      log('Unable to create conversation');
      console.error('Unable to create conversation', error);
    }
  );
}());
</script>

<div class="jumbotron" style='text-align: left'>
  <div class="container" style='padding-top: 10px'>
    <h2 id="status">
      Joining {{name}}...
    </h2>
    <h4>Lyrics:</h4>
    <h1 id="currentLyric"></h1>
    <h2 style='opacity: 0.8' id="nextLyric"></h2>
  </div>
</div>

{{> footer}}
