#tracks ul{
	width:30%;
	float:left;
	border-bottom:1px solid #ececec;
}

#tracks li a{
	width:100%;
	height:50px;
	display:block;
}

.fp-section.fp-table, .fp-slide.fp-table{
	display:block !important;

}
#musicPlayer{
	display:none !important;
}

.fp-controlArrow{
	display: none !important;
}

.theLyrics .fp-tableCell{
	width:100% !important;
	text-align:center;
	display:block !important;
	position:relative;
}

.theLyrics .fp-tableCell .overlay, .theLyrics .overlay{
	background:rgba(0,0,0,1);
	width:100%;
	height:100%;
}

.theLyrics .singAlong{
	position:absolute;
	top:33%;
	width:100% !important;
	z-index:9999;
}

 .jumbotron .theLyrics{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 52px;
    left: 0;
 }

 .jumbotron .theLyrics .singAlong{
 	top:5% !important;
 }


#countDown{
	position: absolute;
    z-index: 99999;
    color: #fff;
    font-size: 23px;
    right: 20px;
    top: 20px;
    opacity:0.5;
}

.theLyrics .fp-tableCell h1, .theLyrics h1{
	text-align:center;
	width:100%;
	font-size:55px;
	color:#fff;
}

.theLyrics .fp-tableCell h3, .theLyrics h3{
	text-align:center;
	opacity:0.5;
	font-size:32px;
	margin-top:35px;
	width:100%;
	z-index:9999;
	color:#fff;
}